[submodule "ext/useful-scripts"]
	path = ext/useful-scripts
	url = https://malachib@gitlab.com/malachi-linux/useful-scripts.git
[submodule "ext/Catch"]
	path = ext/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "ext/estdlib"]
	path = ext/estdlib
	url = https://github.com/malachi-iot/estdlib.git
